.footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-image: linear-gradient(180deg, rgb(21, 23, 26) ,black);
}
.socialmedia svg {
    color: #fff;
    font-size: 2.1rem;
    margin: 5px;
    cursor: pointer;
}
.footer p {
    color: #fff;
}